body { margin: 60px auto; 
	   width: 70%; 
	   background-image:url("../bezier_math.svg");
	   /*background-color: #fffdd0;*/
	   /*background-color: #c2bbf0;*/
	   background-color: #cfcfea;
	   font-size: 18px;
}

nav {	border-top: 2px solid #000000;
		border-bottom: 2px solid #000000;
		text-align: center;
	}

nav ul { font-size: 1em; 
		 font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
		 padding: 0px; 
		 list-style: none; 
		 font-weight: bold; 
		}

nav ul li { display: inline; 
			margin-right: 20px; 
  			}

footer { border-top: 2px solid #000000; 
		 font-size: .8em; 
	   }

a { text-decoration: none; 
	color: #7f7053; 
	font-weight:bold;
  }

a:hover { text-decoration: underline;  
		  /*text-shadow: 0px 0px .5px black;*/
		}

a.text	{text-shadow: 0px 0px .5px black;}

p, ul { font-size: 1em; 
		line-height: 1.4em; 
		color: #333; 
	  }

/*
ids for unordered lists
for custom bullet icons
*/
#teaching {list-style-image: url(pencil.png);}
#teaching ul {list-style-image:none;}
#notes {list-style-image: url(book.png);}

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

img.rcorners {
	border-radius: 25px;
}

table.main {
	table-layout: fixed;
	width: 900px;
}

div.tcontent {width: 500px;
              border-style: outset outset outset outset;
              border-radius: 10px;
              border-color: #373737;
			  box-sizing: border-box;
              /*margin: auto;*/
              margin: auto;
              height: 100%;
              /*max-height: 550px;*/
              padding: 15px 15px 15px 15px;;
			  /*background-color: #c2bbf0;*/
			  /*background-color: #fffdd0;*/
			  background-color: #fdfd96;
			  /*background-color: #FFFF88;*/
			  }
			  
			  
			  
			  
			  
			  
			  